<ion-header>
  <ion-toolbar>
    <ion-title>Post de: {{usuario.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="listado">
  <!--Aquí van los comentarios-->
  <h4 style="font-size: xx-large; text-align: center;">Comentarios:</h4>
  <div *ngFor="let dato of listado">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Autor: {{dato.email}}</ion-card-subtitle>
        <ion-card-title>{{dato.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h6>{{dato.body}}</h6>
      </ion-card-content>
    </ion-card>
    <br>
  </div>
</div>
</ion-content>
