<ion-header>
  <ion-toolbar>
    <ion-title>Página de Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="usuario && sesion">
    <strong>¡Bienvenido, {{usuario.usuario}}!</strong>
    
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="limpiarStorage()" expand="block" fill="clear" shape="round">
          Cerrar sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>

  <div *ngIf="!sesion;">
    <strong>Usted no tiene permiso para ver esta página.</strong>
  </div>

</ion-content>
